<div class="loading" *ngIf="!articles">
       <div class="alert alert-warning alert-dismissible fade show loading" role="alert">
        <strong>Cargando</strong> los datos ...
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
</div>

<div class="loading" *ngIf="articles && articles.length == 0">
  <div class="alert alert-warning alert-dismissible fade show loading" role="alert">
   <strong>No hay Articulos </strong> para mostrar, Intentalo mas tarde
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
</div>


<div id="articles">
    <article class="article-item" *ngFor="let article of articles">
        <div class="image-wrap">
            <img src="{{ url + 'get-image/' + article.image }}" alt="{{ article.title }}" *ngIf="article.image" />
            <img src="assets/images/No-Image-Available.png" alt="{{ article.title }}" *ngIf="!article.image" />
        </div>
        <h2>{{ article.title }}</h2>
        <!--<p> {{ article.content }}</p> -->
        <span class="date">{{ article.date | amLocale:'es' | amTimeAgo }}</span>
        <a [routerLink]="[ '/blog/articulo', article._id ]">Leer más</a>
        <div class="clearfix"></div>
    </article>

</div>