<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a [routerLink]="[ '/blog/new' ]" class="btn btn-success">Crear artículo</a>
    </div>

    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el artículo que buscas</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" [(ngModel)]="searchString" />
            <input type="submit" name="submit" value="Buscar" class="btn btn-success" />
        </form>
    </div>
</aside>
<div class="clearfix"></div>