<app-slider [nombre]="'Blog En Angular'"
            [size]="'small'">
</app-slider>

<div class="center">
  <section id="content"> 
    <br>
    <h2>BLOG ANGULAR</h2>
    <app-articles [articles]="articles"></app-articles>
    </section>
    
    <app-sidebar></app-sidebar>

</div>
<app-footer></app-footer>