<div class="center">
  <br>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Pagina no Encontrada</h4>
      <p>No se encontro lo solicitado</p>
      <hr>
      <p class="mb-0">Intentelo mas Tarde</p>
    </div>

</div>

