<app-slider [nombre]="'Bienvenido al Blog hecho en Angular 9.1.4'"></app-slider>

<div class="center">
  <section id="content"> 
    <br>
    <h2 class="subheader">ULTIMOS ARTICULOS</h2>
    <app-articles [articles]="articles"></app-articles>
    <br>
    </section>

    <app-sidebar></app-sidebar>

</div>

<app-footer></app-footer>