<div class="center">

    <section id="content">
        <br>

        <h1 class="subheader">{{ page_title}}</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
                <small *ngIf="!title.valid && title.touched"> El Titulo no es Válido.</small>
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content"></textarea>
                <small *ngIf="!content.valid && content.touched"> El Contenido no es Válido.</small>
            </div>

            <div class="form-group">
                <div class="image-thumb"  *ngIf="is_Edit">
                        <img src="{{ url + 'get-image/' + article.image }}" alt="{{ article.title }}" *ngIf="article.image" />
                        <img src="assets/images/No-Image-Available.png" alt="{{ article.title }}" *ngIf="!article.image" />
                </div><br>
                <angular-file-uploader [config]="afuConfig"
                                       (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid" />
            <br>
        </form>

    </section>
    <app-sidebar></app-sidebar>

</div>

<app-footer></app-footer>