 <div id="slider" [ngClass]="{
    'slider-big': !size || size == 'big',
    'slider-small': size == 'small'
    }">
    <h1>{{ nombre }}</h1>
    <a class="nav-link" [routerLink]="[ '/blog' ]" class=" btn btn-white" *ngIf="!size || size == 'big'">Ir al blog</a>
</div>
