<app-slider [nombre]="'Busqueda: ' + ' ' + search "
            [size]="'small'">
</app-slider>

<div class="center">
  <section id="content"> 
    <br>
    <h2 class="subheader">ARTICULOS ENCONTRADOS</h2>
    <app-articles [articles]="articles"></app-articles>
    </section>
    
    <app-sidebar></app-sidebar>

</div>
<app-footer></app-footer>